tr
th
{
background-color: pink
}
td{
        border: 1px solid black;
        padding: 2px 2px 2px 2px;
    
    }
body
{
    
background-color:antiquewhite;
background-image: url("../imgs/one.png");
background-position: center top;        
}
#nav 
{
 
    background-color: lemonchiffon;
    font-family: sans-serif;
     
}
  
    th{
       text-transform: uppercase;
     border-bottom: 2px solid #111111;
    }  

tr.top
{
    background-color: #ff3333
}  

#egg
{
    background-color: #f7bac6
}


#oatmeal
{
    background-color: #f7bac6
}

#tomato
{
background-color: #bb1133  
       
    
}
#styrofoam
{
background-color: #bb1133 
    
}

#donut{
background-color: #f7bac6
}

#grits
{
background-color: #bb1133
    
}

tr:nth-child(4) {
    background: #f7bac6
}

#bacon
{
background-color: #bb1133
}
#pancakes
{
background-color: #bb1133    
}

#OJ{
    
    background-color: #f7bac6
}

#CapOs {
    background-color: #f7bac6
}




a:hover {
    
    background-color:pink
}

a {
    cursor: pointer
        
}

